* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #222020;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #fff;
  }

  .container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
  }

  .chord-btn {
    background-color: #0e7b47;
    color: #fff;
    width: 140px;
    padding: 10px 10px;
    margin: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }